@use '../overlay-theme.scss';

:host:not(.make-responsive) {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.commentator-box {
  position: relative;
  padding: 1rem 3rem;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;
  transition: opacity 420ms ease;

  &.on-score-box {
    padding: 0.75rem 1.5rem;
  }
}

:host(.scorebox-hidden) .commentator-box,
:host(.hide-comm-box) .commentator-box {
  opacity: 0;
  pointer-events: none;
}

.streamer__container,
.commentators__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.on-score-box .streamer__container,
.on-score-box .commentators__container {
  flex-flow: column nowrap;
}

.icon {
  height: 2.5rem;
  width: auto;
  padding-right: 0.75rem;
}

.on-score-box .icon {
  padding-right: 0;
  margin-bottom: 0.5rem;
}

.streamer-text,
.commentator1-text,
.commentator2-text {
  font-size: 1.5625rem;
  font-weight: 800;
  white-space: nowrap;
}

.commentator-box:not(.on-score-box) .commentator1-text {
  padding-right: 1.5rem;
}
