<h1 mat-dialog-title>Turniereinstellungen</h1>
<mat-dialog-content>
  <section class="is-league-section">
    <h2>Turnierformat</h2>
    <div class="tourney-format-buttons__container">
      <button
        class="standard-format-button toggle-button"
        [class.toggled]="!state().isLeague"
        (click)="
          stateService.update({
            isLeague: false,
          })
        "
      >
        Standard
      </button>
      <button
        class="league-format-button toggle-button"
        [class.toggled]="state().isLeague"
        (click)="
          stateService.update({
            isLeague: true,
          })
        "
      >
        Liga
      </button>
    </div>
  </section>

  <section class="tournament-name-section">
    <h2>Turniername</h2>
    <input
      placeholder="Turniername"
      type="text"
      [ngModel]="state().tournamentName"
      (ngModelChange)="
        stateService.update({
          tournamentName: $event,
        })
      "
      maxlength="30"
    />
  </section>

  @if (state().isLeague) {
    <section class="division-section">
      <h2>Division</h2>
      <select
        [ngModel]="state().division"
        (ngModelChange)="
          stateService.update({
            division: $event,
          })
        "
      >
        @for (division of availableDivisions; track division) {
          <option [ngValue]="division.id">
            {{ division.name }}
          </option>
        }
      </select>
    </section>

    <section class="week-section">
      <h2>Woche</h2>
      <input
        type="number"
        [ngModel]="state().week"
        (ngModelChange)="
          stateService.update({
            week: $event,
          })
        "
      />
    </section>
  }

  <section class="start-time-section">
    <h2>Startzeit</h2>
    <input
      type="datetime-local"
      [ngModel]="state().startTime"
      (ngModelChange)="
        stateService.update({
          startTime: $event,
        })
      "
    />
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="click-button" mat-dialog-close>✖</button>
</mat-dialog-actions>
