@use '../dialog-theme.scss';

button.toggle-button {
  width: 7rem;
}

.comm-box-display-state-buttons__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: 1rem;
}
