.edit-menu {
  position: absolute;
  background: #3d3d3d;
  border: 0.25rem solid black;
  border-radius: 1.875rem;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.625rem 1.5rem;
  width: 21.875rem;
  height: 11.875rem;
  justify-content: center;
  align-content: center;
}

.mode-image {
  width: 4.375rem;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 1.25rem;
  bottom: 0;
  cursor: pointer;
}
