.layout {
  display: grid;
  grid-template-columns: 22.5rem 1fr;
  height: 100vh;
  background: #1e1f26;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notification__container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-flow: column-reverse nowrap;
  row-gap: 1rem;
}
