@use '@angular/material' as mat;

:root {
  --team-alpha-color: white;
  --team-bravo-color: black;

  --current-division-color: white;

  @include mat.dialog-overrides(
    (
      container-color: rgb(68, 72, 88),
      headline-padding: 1rem 1rem 2rem 1rem,
      subhead-size: 2rem,
      subhead-weight: 600,
      subhead-color: white,
      supporting-text-color: white,
      content-padding: 1rem,
      with-actions-content-padding: 1rem,
      container-shape: 1rem,
    )
  );
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: transparent;
}

* {
  box-sizing: border-box;
}
